%tr
  %td= conversation.id
  %td= conversation.users.where.not(id: current_user.id).map(&:email).join(', ')
  %td= conversation.created_at
  %td= conversation.messages_count
  %td 
    = link_to 'Delete', [:admin, @user, conversation], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    = link_to 'Messages', admin_conversation_messages_path(conversation), class: 'btn btn-info'

  
    