%tr
  %td= user.id
  %td= user.email
  %td= user.first_name
  %td= user.last_name
  %td= user.zipcode
  %td= user.company.try(:name)
  %td= user.category
  %td= user.admin
  %td= user.created_at.to_usa
  %td
    = link_to 'Contacts', admin_user_contacts_path(user), class: 'btn btn-info'
    = link_to 'Conversations', admin_user_conversations_path(user), class: 'btn btn-info'
    = link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-info'
    = link_to 'Delete', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
